@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --HEADER_HEIGHT: 88px;
  --CONTENT_WIDTH: 1000px;
  --CONTENT_WIDTH_HEADER: 1200px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.reset-margin {
  & > *:first-child {
    margin-top: 0 !important;
  }

  & > *:last-child {
    margin-bottom: 0 !important;
  }
}

.mdContent {
  > *:first-child {
    margin-top: 0 !important;
  }

  > *:last-child {
    margin-bottom: 0 !important;
  }

  h2 {
    font-size: 32px;
    padding-bottom: 8px;
    border-bottom: 4px solid var(--foreground);
    font-weight: bold;
    margin-top: 40px;
  }

  h3 {
    font-size: 24px;
    padding-left: 8px;
    border-left: 4px solid var(--foreground);
    font-weight: bold;
    margin-top: 32px;
  }

  p,
  ul {
    code {
      background-color: lightgray;
      padding: 0 2px;
      border-radius: 2px;
      font-size: 80%;
    }
  }

  pre {
    border-radius: 0.5rem;
    background-color: #111827;
    padding: 0;
    overflow-x: auto;
    margin-top: 40px;

    code {
      color: #ffffff;
    }

    .language-html {
      .hljs-comment {
        width: 100%;
      }
    }
  }

  ul {
    margin-top: 40px;

    ul {
      margin-top: 8px;
      margin-left: 16px;
    }
  }

  p {
    margin-top: 24px;

    + p {
      margin-top: 16px;
    }
  }

  table {
    border-collapse: collapse;
    margin-top: 40px;
    width: 100%;
    border: 1px solid lightgray;

    thead {
      background-color: rgb(238, 238, 238);
    }
    th,
    td {
      padding: 8px 16px;
      text-align: left;
      border: 1px solid lightgray;
    }
  }

  // 直下の最初の子要素がulの時はアンカーリンクとして機能する
  // > ul:first-child {
  // #始まりの場合にアンカーリンクとして機能する
  > ul:has(a[href^="#"]) {
    background-color: lightblue;
    padding: 1rem;
    border-radius: 16px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    a {
      padding-left: 16px;
      position: relative;

      &::before {
        content: '↓';
        position: absolute;
        display: block;
        left: 0;
        top: -5px;
      }
    }
  }
}
